.stylenav {
    justify-content: flex-end;
    font-family: 'Times New Roman', georgia, serif;
    font-size: 20px;
}

a {text-decoration: none; }

.ul-custom li a {
    border: 1px solid transparent;
    height: 43px;
}

.ul-custom li a:hover {
    border-color: #ffffffff;
    height: 45px;
}

.navbar-custom {
    height: 45px;
}

.ul {
    min-width: 5rem;
}